
 body {
   background-color: rgb(20, 220, 53);
   font-size: 12px;
   color: #333;
   line-height: 1.4;
 }
 .vv{

  
  color: rgb(0, 0, 0);
text-align: center;

 }

 .mn{

  color: rgb(0, 0, 0);
  background-color: #4CAF50; /* Green */
  
 }
 .kk{
   width: 300px;
   height: 300px;
 }
 p{
   font-size: 50px;

 }
 button{
   font-size: 20px;
   border-radius: 30px;
   background-color: cornflowerblue;
   
 }
